<div style="padding: 40px">
  <h2 class="mb-3">Đơn hàng của bạn</h2>
  <table class="table text-center table-hover">
    <thead>
    <tr class="bg-info">
      <th>STT</th>
      <th>Mã đơn hàng</th>
      <th>Ngày mua</th>
      <th>Trạng thái</th>
      <th>Tổng tiền</th>
      <th>Chi tiết</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let purchase of purchaseList; index as i">
      <td>{{i+1}}</td>
      <td>{{purchase.code}}</td>
      <td>{{purchase.orderDate}}</td>
      <td>{{purchase.status}}</td>
      <td>{{purchase.total}}</td>
      <td><a data-toggle="modal" data-target="#exampleModal" (click)="viewDetail(purchase.customerName, purchase.customerPhone, purchase.customerAddress)"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" style="width: 32px; height: 32px">
        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 14.25v-2.625a3.375 3.375 0 00-3.375-3.375h-1.5A1.125 1.125 0 0113.5 7.125v-1.5a3.375 3.375 0 00-3.375-3.375H8.25m5.231 13.481L15 17.25m-4.5-15H5.625c-.621 0-1.125.504-1.125 1.125v16.5c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 00-9-9zm3.75 11.625a2.625 2.625 0 11-5.25 0 2.625 2.625 0 015.25 0z" />
      </svg>
      </a></td>
    </tr>
    </tbody>
  </table>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Chi tiết đơn hàng</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <h1 align="center;" style="margin-top: 8%;margin-left: 14%">Lịch sử mua hàng</h1>
          <div class="container" style="margin-top: 30px">
            <table class="table">
              <thead>
              <tr>
                <th>Họ và tên: {{customerName}}</th>
              </tr>
              <tr>
                <th>Số điện thoại: {{customerPhone}}</th>
              </tr>
              <tr>
                <th>Địa chỉ nhận hàng: {{customerAddress}}</th>
              </tr>
              </thead>
            </table>
          </div>


          <h2 align="center" style="color: black">Chi tiết lịch sử mua hàng</h2>
          <div class=" container py-5 h-100">

            <table class=" table table-striped table-hover">
              <thead>
              <tr>
                <th>STT</th>
                <th>Tên sản phẩm</th>
                <th>Số lượng</th>
                <th>Số tiền</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
              </tr>
              </tbody>
            </table>
          </div>
<!--          <table class=" table table-striped table-hover">-->
<!--            <thead>-->
<!--            <tr class="bg-info" style="color: white">-->
<!--              <th>STT</th>-->
<!--              <th>Ngày mua</th>-->
<!--              <th>Sản phẩm mua</th>-->
<!--              <th>Số tiền</th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            <tr *ngFor="let item of billHistoryInfos; index as i">-->
<!--              <td>{{i + 1}}</td>-->
<!--              <td>{{item.buyDate | date: 'dd/MM/yyyy'}}</td>-->
<!--              <td>{{item.product}}</td>-->
<!--              <td>{{item.total | currency:'VND':'symbol'}}</td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--          </table>-->
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

