<!-- Product Detail Start -->
<div class="container-fluid py-5">
  <div class="row px-xl-5">
    <div class="col-lg-5 pb-5">
      <div id="product-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner border">
          <div class="carousel-item active" *ngFor="let product of product.images.slice(0,1)">
            <img class="w-100 h-100" src="{{product.url}}" alt="Image">
          </div>
          <div class="carousel-item" *ngFor="let product of product.images.slice(1)">
            <img class="w-100 h-100" src="{{product.url}}" alt="Image">
          </div>
        </div>
        <a class="carousel-control-prev" href="#product-carousel" data-slide="prev">
          <i class="fa fa-2x fa-angle-left text-danger"></i>
        </a>
        <a class="carousel-control-next" href="#product-carousel" data-slide="next">
          <i class="fa fa-2x fa-angle-right text-danger"></i>
        </a>
      </div>
    </div>

    <div class="col-lg-7 pb-5">
      <h3 class="font-weight-semi-bold">{{product.name}}</h3>
      <div>
        <p class="mr-2" style="font-weight: bold; color: dodgerblue">
        {{product.trademark.name}}
        </p>
      </div>
      <div class="mb-3">
        <i>(Tồn kho: {{product.quantity}})</i>
      </div>
      <h3 *ngIf="product.quantity>= 1" class="font-weight-semi-bold mb-4 text-danger">{{product.price | number:'1.0-0'}} VNĐ</h3>
      <h3 *ngIf="product.quantity < 1" class="font-weight-semi-bold mb-4 text-danger">HẾT HÀNG</h3>
      <p style="height: 206px; border: 1px solid blue; padding: 20px;" class="mb-4 overflow-auto">{{product.description}}</p>
      <div *ngIf="role != 'ROLE_ADMIN'" class="d-flex align-items-center mb-4 pt-2">
        <div class="input-group quantity" id="buy-amount" style="width: 150px">
          <button (click)="decreaseQuantity()"><i class="fas fa-minus text-primary "></i>
          </button>
          <input id="amount" type="text" [(ngModel)]="quantity">
          <button (click)="increaseQuantity()"><i class="fas fa-plus text-primary"></i>
          </button>
        </div>
        <button [disabled]="product.quantity< 1" (click)="addCart(product.id)" class="btn px-3 text-white" style="background-color: #007bff"><i class="fa fa-shopping-cart mr-1 text-white"></i> Thêm vào giỏ hàng</button>
      </div>
    </div>
  </div>
</div>

<div id="myCarousel" class="carousel slide container-fluid" >
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <div class="text-center mb-4">
    <h2 class="section-title px-5 text-primary"><span class="px-2">Sản phẩm cùng danh mục</span></h2>
  </div>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row">
        <div class="row px-xl-5 pb-3">
          <div *ngFor="let productByCategory of productListByCategory.slice(0,4)" class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="card product-item border-0 mb-4">
              <div [routerLink]="['/detail', productByCategory.id]">
                  <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0" style="height: 230px">
                    <img class="img-fluid w-100" src="{{productByCategory.images[0].url}}" height="250" alt="">
                  </div>
                <div class="card-body border-left border-right border-bottom text-center p-0 pt-4 pb-3" style="height: 120px">
                  <div style="height: 65px">
                    <h6 class="mb-3 ml-3 mr-3" style="text-align: left">{{productByCategory.name}}</h6>
                  </div>
                  <div class="d-flex justify-content-center">
                    <h6 class="text-danger">{{productByCategory.price | number:'1.0-0'}} VNĐ</h6>
                  </div>
                </div>
              </div>
              <button *ngIf="role != 'ROLE_ADMIN'" [disabled]="productByCategory.quantity < 1" class="button" (click)="addCart(productByCategory.id)">Thêm vào giỏ hàng</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row">
        <div class="row px-xl-5 pb-3">
          <div *ngFor="let productByCategory of productListByCategory.slice(4)" class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="card product-item border-0 mb-4">
              <div [routerLink]="['/detail', productByCategory.id]">
                <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0" style="height: 230px">
                  <img class="img-fluid w-100" src="{{productByCategory.images[0].url}}" height="250" alt="">
                </div>
                <div class="card-body border-left border-right border-bottom text-center p-0 pt-4 pb-3" style="height: 120px">
                  <div style="height: 65px">
                    <h6 class="mb-3 ml-3 mr-3" style="text-align: left">{{productByCategory.name}}</h6>
                  </div>
                  <div class="d-flex justify-content-center">
                    <h6 class="text-danger">{{productByCategory.price | number:'1.0-0'}} VNĐ</h6>
                  </div>
                </div>
              </div>
              <button *ngIf="role != 'ROLE_ADMIN'" [disabled]="productByCategory.quantity < 1" class="button" (click)="addCart(productByCategory.id)">Thêm vào giỏ hàng</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
    <i class="fa fa-2x fa-angle-left text-danger"></i>
  </a>
  <a *ngIf="productListByCategory.length > 4" class="carousel-control-next" href="#myCarousel" data-slide="next">
    <i class="fa fa-2x fa-angle-right text-danger"></i>
  </a>
</div>

