<!-- Cart Start -->
<div class="container-fluid pt-5">
  <div class="row px-xl-5">
    <div class="col-lg-8 table-responsive mb-5">
      <table class="table table-bordered text-center mb-0">
        <thead class="bg-secondary text-dark">
        <tr class="text-white" style="background-color: #1a4988">
          <th>Sản phẩm</th>
          <th style="width: 100px">Giá</th>
          <th style="width: 100px">Số lượng</th>
          <th style="width: 100px">Tạm tính</th>
          <th>Xóa</th>
        </tr>
        </thead>
        <tbody class="align-middle">
        <tr *ngFor="let cart of cartList">
          <td style="width: auto" class="align-middle">
            <div class="row">
              <div class="col-4">
                <img src="{{cart.url}}" alt="" style="width: 50px">
              </div>
              <div class="col-6">
                {{cart.name}}
              </div>
            </div>
          </td>
          <td class="align-middle">{{cart.price}}</td>
          <td class="align-middle">
            <div id="buy-amount">
              <button (click)="decreaseQuantity()"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15" />
              </svg>
              </button>
              <input name="amount" id="amount" type="text" value="{{cart.quantity}}">
              <button (click)="increaseQuantity()"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
              </svg>
              </button>
            </div>
          </td>
          <td class="align-middle">{{cart.total}}</td>
          <td class="align-middle"><button class="btn btn-sm btn-secondary"><i class="fa fa-times"></i></button></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-4">
      <div class="card border-secondary mb-5">
        <div class="card-header border-0" style="background-color: #1a4988">
          <h4 class="font-weight-semi-bold m-0 text-center text-white">Chi tiết giỏ hàng</h4>
        </div>
        <div class="card-body">
          <div class="d-flex justify-content-between mb-3 pt-1">
            <h6 class="font-weight-medium">Tổng tiền hàng</h6>
            <h6 class="font-weight-medium">{{totalPayment}}</h6>
          </div>
          <div class="d-flex justify-content-between">
            <h6 class="font-weight-medium">Tiền phí vận chuyển</h6>
            <h6 class="font-weight-medium">$10</h6>
          </div>
        </div>
        <div class="card-footer bg-transparent">
          <div class="d-flex justify-content-between mt-2">
            <h5 class="font-weight-bold">Tổng thanh toán</h5>
            <h5 class="font-weight-bold">$160</h5>
          </div>
          <button class="btn btn-block my-3 py-3 text-white" style="background-color: #007bff">Tiến hành thanh toán</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Cart End -->
