<!-- Shop Start -->
<div class="container-fluid pt-5">
  <div class="row px-xl-5">
    <!-- Shop Sidebar Start -->
    <div class="col-lg-3 col-md-12">
      <!-- Price Start -->
      <div class="border-bottom mb-4 pb-4">
        <h5 class="font-weight-semi-bold mb-4">Danh mục sản phẩm</h5>
        <div (click)="searchSaleProductList(-1, trademark1, nameSearch)" class="custom-control custom-radio d-flex align-items-center justify-content-between mb-3 acv">
          <input type="radio" checked name="category" class="custom-control-input" id="all">
          <label class="custom-control-label" for="all">Tất cả</label>
          <span class="badge border font-weight-normal">{{countProduct}} sản phẩm</span>
        </div>
        <div (click)="searchSaleProductList(category.id, trademark1, nameSearch)" class="custom-control custom-radio d-flex align-items-center justify-content-between mb-3 acv" *ngFor="let category of categoryList">
          <input [checked]="category.id == category1" type="radio" name="category" class="custom-control-input" id="category{{category.id}}">
          <label class="custom-control-label" for="category{{category.id}}">{{category.name}}</label>
          <span class="badge border font-weight-normal">{{category.total}} sản phẩm</span>
        </div>
      </div>
      <!-- Price End -->

      <!-- Color Start -->
      <div class="border-bottom mb-4 pb-4">
        <h5 class="font-weight-semi-bold mb-4">Thương hiệu</h5>
        <form>
          <div (click)="searchSaleProductList(category1, -1, nameSearch)" class="custom-control custom-radio d-flex align-items-center justify-content-between mb-3 acv">
            <input type="radio" checked name="trademark" value="-1" class="custom-control-input" id="all-trademark">
            <label class="custom-control-label" for="all-trademark">Tất cả</label>
            <span class="badge border font-weight-normal">{{countProduct}} sản phẩm</span>
          </div>
          <div (click)="searchSaleProductList(category1, trademark.id, nameSearch)" class="custom-control custom-radio d-flex align-items-center justify-content-between mb-3 acv" *ngFor="let trademark of trademarkList">
            <input type="radio" name="trademark" value="1"  class="custom-control-input" id="trademark{{trademark.id}}">
            <label class="custom-control-label" for="trademark{{trademark.id}}">{{trademark.name}}</label>
              <span class="badge border font-weight-normal">{{trademark.total}} sản phẩm</span>
          </div>
<!--          <div (click)="searchSaleProductList(category, 2, nameSearch)" class="custom-control custom-radio d-flex align-items-center justify-content-between mb-3 acv">-->
<!--            <input type="radio" name="trademark" value="2"  class="custom-control-input" id="trademark2">-->
<!--            <label class="custom-control-label" for="trademark2">UGREEN</label>-->
<!--            <span class="badge border font-weight-normal">295</span>-->
<!--          </div>-->
<!--          <div (click)="searchSaleProductList(category, 3, nameSearch)" class="custom-control custom-radio d-flex align-items-center justify-content-between mb-3 acv">-->
<!--            <input type="radio" name="trademark" value="3"  class="custom-control-input" id="trademark3">-->
<!--            <label class="custom-control-label" for="trademark3">SENJU</label>-->
<!--            <span class="badge border font-weight-normal">246</span>-->
<!--          </div>-->
<!--          <div (click)="searchSaleProductList(category, 4, nameSearch)" class="custom-control custom-radio d-flex align-items-center justify-content-between mb-3 acv">-->
<!--            <input type="radio" name="trademark" value="4"  class="custom-control-input" id="trademark4">-->
<!--            <label class="custom-control-label" for="trademark4">LAIWANG</label>-->
<!--            <span class="badge border font-weight-normal">145</span>-->
<!--          </div>-->
<!--          <div (click)="searchSaleProductList(category, 5, nameSearch)" class="custom-control custom-radio d-flex align-items-center justify-content-between acv">-->
<!--            <input type="radio" name="trademark" value="5"  class="custom-control-input" id="trademark5">-->
<!--            <label class="custom-control-label" for="trademark5">Samsung</label>-->
<!--            <span class="badge border font-weight-normal">168</span>-->
<!--          </div>-->
        </form>
      </div>
      <!-- Color End -->
    </div>
    <!-- Shop Sidebar End -->


    <!-- Shop Product Start -->
    <div class="col-lg-9 col-md-12">
      <div class="row pb-3">
        <div class="col-12 pb-1">
          <div>
            <div *ngFor="let category2 of categoryList">
              <div *ngIf="category2.id == category1">
                <h3>{{category2.name}}</h3>
                <p>{{category2.description}}</p>
              </div>
            </div>
            <h3 *ngIf="category1 == -1" class="mb-3">Sản phẩm</h3>

          </div>
          <div class="d-flex align-items-center justify-content-between mb-4">
            <form>
              <div class="input-group">
                <input [value]="nameSearch" type="text" #name class="form-control" placeholder="Nhập tên sản phẩm">
                <div class="input-group-append">
                                        <button class="input-group-text bg-transparent text-primary" (click)="searchSaleProductList(category1, trademark1, name.value)">
                                            <i class="fa fa-search"></i>
                                        </button>
                </div>
              </div>
            </form>
            <div class="dropdown ml-4">
              <button class="btn border dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false">
                Sắp xếp
              </button>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="triggerId">
                <a class="dropdown-item" href="#">Hàng mới nhất</a>
                <a class="dropdown-item" href="#">Bán chạy nhất</a>
                <a class="dropdown-item" href="#">Giá từ thấp đến cao</a>
                <a class="dropdown-item" href="#">Giá từ cao xuống thấp</a>
              </div>
            </div>
          </div>
        </div>

        <div *ngFor="let saleProduct of saleProductList" class="col-lg-4 col-md-6 col-sm-12 pb-1" [routerLink]="['/detail', saleProduct.id]">
          <div class="card product-item border-0 mb-4">
            <div [routerLink]="['/detail', saleProduct.id]">
              <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0" style="height: 230px">
                <img class="img-fluid w-100" src="{{saleProduct.images[0].url}}" height="250" alt="">
              </div>
              <div class="card-body border-left border-right text-center p-0 pt-4 pb-3" style="height: 120px">
                <div style="height: 65px">
                  <h6 class="mb-3 ml-3 mr-3" style="text-align: left">{{saleProduct.name | slice:0:60}}</h6>
                </div>
                <div class="d-flex justify-content-center">
                  <h6 class="text-danger">{{saleProduct.price | number:'1.0-0'}} VNĐ</h6>
                  <!--            <h6 class="text-muted ml-2">-->
                  <!--              <del>$123.00</del>-->
                  <!--            </h6>-->
                </div>
              </div>
            </div>
            <div class="card-footer d-flex justify-content-center bg-light border">
              <!--          <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>Chi tiết</a>-->
              <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Thêm vào giỏ hàng</a>
            </div>
          </div>

        </div>
        <div class="col-12 pb-1">
          <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center mb-3">
              <li class="page-item disabled">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item active"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <!-- Shop Product End -->
  </div>
</div>
<!-- Shop End -->
