<div class="site">
  <div class="site__body">
    <div class="holder"><div class="preloader"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
    <div>&nbsp;</div>
    <div class="block">
      <div class="container">
        <div class="row">
          <div class="col-md-4 d-flex flex-column">
            <div class="card flex-grow-1 mb-md-0">
              <div class="card-body">
                <h3 class="card-title">Đăng nhập</h3>
                <hr>
                <form id="formLogin" [formGroup]="form" (ngSubmit)="login()">
                  <div class="form-group mb-4">
                    <label>Tài khoản</label>
                    <input formControlName="username" type="text" id="login_email" name="email" class="form-control text-lowercase">
                  </div>
                  <div class="form-group">
                    <label>Mật khẩu</label>
                    <input formControlName="password" id="login_password" type="password" name="password" class="form-control">
                  <span class="text-danger">{{message}}</span>
                    <small class="form-text text-muted">
                      <a href="/forgetPassword.html">Quên mật khẩu</a>
                    </small>
                  </div>
                  <div class="form-group">
                    <input formControlName="rememberMe" id="rem" type="checkbox" name="remember-me" />
                    <label class="ml-2" for="rem">Ghi nhớ đăng nhập</label>
                  </div>
                  <input type="hidden" id="response2" name="response2" value="" />
                  <button id="loginButton" type="submit" class="btn btn-primary mt-4">Đăng nhập</button>
                </form>
              </div>
            </div>
          </div>
          <div class="col-md-8 d-flex flex-column mt-4 mt-md-0">
            <div class="card flex-grow-1 mb-0">
              <div class="card-body">
                <h3 class="card-title">Đăng ký</h3>
                <p class="text-danger" id="msgSignup">
                <hr>
                <form id="formSignup" [formGroup]="registerForm" (ngSubmit)="register()" enctype="utf8"><input type="hidden" name="_csrf" value="022e4c73-8bb6-4d7d-a88f-9e6f9a44093b" />
                  <div class="row">
                    <div class="form-group col-md-6 mb-5">
                      <label for="username" >Tài khoản</label>
                      <input style="position: relative" formControlName="username" type="text" class="form-control" id="username">
                      <p style="position: absolute; font-size: 15px" class="text-danger">{{usernameError}}</p>
                    </div>
                    <div class="form-group col-md-6 mb-5">
                      <label for="email">Email</label>
                      <input style="position: relative" formControlName="email" type="email" class="form-control text-lowercase" id="email">
                      <p style="position: absolute; font-size: 15px" class="text-danger">{{emailError}}</p>
                    </div>
                    <div class="form-group col-md-6 mb-5">
                      <label for="password">Mật khẩu</label>
                      <input style="position: relative" formControlName="password" type="password" class="form-control" id="password">
                      <p style="position: absolute; font-size: 15px" class="text-danger">{{passwordError}}</p>
                    </div>
                    <div class="form-group col-md-6 mb-2">
                      <label for="confirmPassword">Nhập lại mật khẩu</label>
                      <input style="position: relative" formControlName="confirmPassword" type="password" class="form-control" id="confirmPassword">
                      <p style="position: absolute; font-size: 15px" class="text-danger">{{confirmPasswordError}}</p>
                    </div>
                  </div>
                  <button type="submit"  class="btn btn-primary mt-1">Đăng ký</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



