<!--<div class="container mt-5">-->
<!--  <div class="card login-form">-->
<!--    <div class="card-body">-->
<!--<h2 class="card-title">Đăng nhập</h2>-->
<!--<h6 class="card-subtitle text-muted mb-3 fw-bold">Vui lòng đăng nhập để sử dụng trang web này!</h6>-->

<!--&lt;!&ndash;<div class="d-grid mt-5 mb-4">&ndash;&gt;-->
<!--&lt;!&ndash;  <button type="submit" class="btn btn-light btn-gmail"><img src="google.png" alt="Gmail" class="img-google me-2">Sign up with Gmail</button>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--&lt;!&ndash;<h6 class="card-subtitle text-muted mb-4 text-center">or login with Email</h6>&ndash;&gt;-->

<!--<form [formGroup]="form" (ngSubmit)="login()">-->
<!--  <div class="mb-4">-->
<!--    <label for="exampleInputEmail1" class="form-label">Tên đăng nhập</label>-->
<!--    <input formControlName="username" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Tên đăng nhập">-->
<!--  </div>-->
<!--  <div class="mb-3">-->
<!--    <label for="exampleInputPassword1" class="form-label">Mật khẩu</label>-->
<!--    <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Mật khẩu">-->
<!--  </div>-->

<!--          <div class="d-flex justify-content-between">-->
<!--            <div class="mb-3 form-check">-->
<!--              <input formControlName="rememberMe" type="checkbox" class="form-check-input" id="exampleCheck1">-->
<!--              <label class="form-check-label" for="exampleCheck1">Ghi nhớ đăng nhập</label>-->
<!--            </div>-->

<!--            <div>-->
<!--              <a href="#">Quên mật khẩu?</a>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="d-grid mt-3">-->
<!--            <button type="submit" class="btn btn-primary">Đăng nhập</button>-->
<!--          </div>-->

<!--          <div class="mt-3">-->
<!--            <label>Bạn chưa có tài khoản? <a href="#">Đăng ký</a></label>-->
<!--          </div>-->
<!--</form>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div class="site">
  <div class="site__body">
    <div class="holder"><div class="preloader"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
    <title>Đăng nhập - Tạp hóa MMO</title>
    <div>&nbsp;</div>
    <div class="block">
      <div class="container">
        <div class="row">
          <div class="col-md-4 d-flex flex-column">
            <div class="card flex-grow-1 mb-md-0">
              <div class="card-body">
                <h3 class="card-title">Đăng nhập</h3>
                <hr>
                <form id="formLogin" [formGroup]="form" (ngSubmit)="login()">
                  <div class="form-group">
                    <label>Tài khoản</label>
                    <input formControlName="username" type="text" id="login_email" name="email" class="form-control text-lowercase">
                  </div>
                  <div class="form-group">
                    <label>Mật khẩu</label>
                    <input formControlName="password" id="login_password" type="password" name="password" class="form-control">
                  <span class="text-danger">{{message}}</span>
                    <small class="form-text text-muted">
                      <a href="/forgetPassword.html">Quên mật khẩu</a>
                    </small>
                  </div>
                  <div class="form-group">
                    <input formControlName="rememberMe" id="rem" type="checkbox" name="remember-me" />
                    <label class="ml-2" for="rem">Ghi nhớ đăng nhập</label>
                  </div>
                  <input type="hidden" id="response2" name="response2" value="" />
                  <button id="loginButton" type="submit" class="btn btn-primary mt-4">Đăng nhập</button>
                </form>
              </div>
            </div>
          </div>
          <div class="col-md-8 d-flex flex-column mt-4 mt-md-0">
            <div class="card flex-grow-1 mb-0">
              <div class="card-body">
                <h3 class="card-title">Đăng ký</h3>
                <p class="text-danger" id="msgSignup">
                <hr>
                <form id="formSignup" [formGroup]="registerForm" (ngSubmit)="register()" enctype="utf8"><input type="hidden" name="_csrf" value="022e4c73-8bb6-4d7d-a88f-9e6f9a44093b" />
                  <div class="row">
                    <div class="form-group col-md-6">
                      <label>Tài khoản</label>
                      <input type="text" class="form-control" id="user.username" name="user.username" value="">
                      <label id="err_username" class="text-danger"></label>
                    </div>
                    <div class="form-group col-md-6">
                      <label>Email</label>
                      <input id="signup_email" type="email" class="form-control text-lowercase" name="user.email" value="">
                      <label id="err_email" class="text-danger"></label>
                    </div>
                    <div class="form-group col-md-6">
                      <label>Mật khẩu</label>
                      <input type="password" class="form-control" id="user.password" name="user.password" value="">
                      <label id="err_password" class="text-danger"></label>
                    </div>
                    <div class="form-group col-md-6">
                      <label>Nhập lại mật khẩu</label>
                      <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" value="">
                      <label id="err_confirmPassword" class="text-danger"></label>
                    </div>
<!--                    <div class="form-group col-md-12">-->
<!--                      <div class="form-check col-md-12">-->
<!--                        <input class="form-check-input" type="checkbox" id="isRule" checked="checked" required name="rule" value="true"><input type="hidden" name="_rule" value="on" />-->
<!--                        <label class="form-check-label" for="isRule">Tôi đã đọc và đồng ý với</label>-->
<!--                        <a href="/quy-dinh.html" target="_blank">Điều khoản sử dụng Điện tử Thành Công</a>-->
<!--                      </div>-->
<!--                      <label id="err_rule" class="text-danger"></label>-->
<!--                    </div>-->
                  </div>
                  <button type="button"  class="btn btn-primary mt-1">Đăng ký</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



