<div class="col-lg-3 d-none d-lg-block">
  <div class="d-flex align-items-center justify-content-between w-100" style="height: 65px; margin-top: -1px; padding: 0 30px; background-color: #1a4988">
    <h6 class="m-0 text-white">DANH MỤC SẢN PHẨM</h6>
  </div>
  <nav class="collapse show navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0" id="navbar-vertical">
    <div class="navbar-nav w-100 overflow-auto" style="height: 298px">
      <a *ngFor="let category of categoryList" href="" class="nav-item nav-link text-dark btn-outline-danger"><span> <img src="{{category.avatar}}" height="23px" width="23px"></span> {{category.name}}</a>

    </div>
  </nav>
</div>
