<!-- Footer Start -->
<div class="container-fluid text-white mt-5 pt-5" style="background-color: #1a4988">
  <div class="row px-xl-5 pt-5">


    <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
      <a href="" class="text-decoration-none">
        <img src="assets/image/logodz.png">
      </a>
      <p>Điện tử Thành Công tiên phong trong lĩnh vực điện tử gồm thiết kế phần cứng, phát triển phần mềm và hệ
        thống nhúng. Điện tử Thành Công cũng là nhà phân phối và cung cấp linh kiện điện tử hàng đầu Việt
        Nam.</p>
      <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>280 Trần Hưng Đạo, Sơn Trà, Đà Nẵng,
        Việt Nam</p>
      <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>thanhcong_electric@gmail.com</p>
      <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>0937.110.081</p>
    </div>


    <div class="col-lg-8 col-md-12">
      <div class="row">
        <div class="col-md-4 mb-5">
          <h5 class="font-weight-bold text-white mb-4">CHÍNH SÁCH</h5>
          <div class="d-flex flex-column justify-content-start">
            <a class="text-white mb-2" href="index.html"><i class="fa fa-angle-right mr-2"></i>Chính sách
              thanh toán</a>
            <a class="text-white mb-2" href="shop.html"><i class="fa fa-angle-right mr-2"></i>Chính sách vận
              chuyển</a>
            <a class="text-white mb-2" href="detail.html"><i class="fa fa-angle-right mr-2"></i>Chính sách
              đổi trả</a>
            <a class="text-white mb-2" href="cart.html"><i class="fa fa-angle-right mr-2"></i>Chính sách bảo
              hành</a>
          </div>
        </div>
        <div class="col-md-4 mb-5">
          <h5 class="font-weight-bold text-white mb-4">HỖ TRỢ</h5>
          <div class="d-flex flex-column justify-content-start">
            <a class="text-white mb-2" href="index.html"><i class="fa fa-angle-right mr-2"></i>Hướng dẫn
              mua hàng</a>
            <a class="text-white mb-2" href="shop.html"><i class="fa fa-angle-right mr-2"></i>Giao nhận và
              thanh toán</a>
            <a class="text-white mb-2" href="detail.html"><i class="fa fa-angle-right mr-2"></i>Đổi trả và
              bảo hành</a>
            <a class="text-white mb-2" href="cart.html"><i class="fa fa-angle-right mr-2"></i>Đăng ký thành
              viên</a>
          </div>
        </div>
        <div class="col-md-4 mb-5">
          <h5 class="font-weight-bold text-white mb-4">NHẬN TIN MỚI</h5>
          <form action="">
            <div class="form-group">
              <input type="text" class="form-control border-0 py-4" placeholder="Tên của bạn"
                     required="required"/>
            </div>
            <div class="form-group">
              <input type="email" class="form-control border-0 py-4" placeholder="Email của bạn"
                     required="required"/>
            </div>
            <div>
              <button class="btn btn-danger btn-block border-0 py-3" type="submit">Đăng ký ngay</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row border-top border-light mx-xl-5 py-4">
    <div class="col-md-12 px-xl-0 text-center text-md-center">
      <img class="img-fluid" src="assets/image/payments.png" alt="">
    </div>
  </div>
</div>
<!-- Footer End -->


<!-- Back to Top -->
<a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>
